#label{
  display: block;
  width: 100%;
  text-align: center;
  /*background-image: url("back.JPG");*/
  background-image: url("contacthead.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  height: 550px;
}
.name{
  font-size: 126px;
  color: white;
  text-align: center;
  position: relative;
  letter-spacing: -1px;
  top: 50%;
  transform: translateY(-50%);
  font-weight: 900;
}
.second{
  padding: 15px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  font-size: 25px;
  font-weight: 300;
  letter-spacing: 0px;
}
.main{
  height: 100%;
  background-color: white;
  color:  #27292d;
  text-align: center;
  font-size: 42px;
  margin: 25px;
}
.spacer{
  height: 200px;
  width: 100%;
  background-color: white;
}
.me{
  width: 40%;
  text-align: right;
  height: auto;
}

.info{
  text-align: left;
  font-size: 36px;
}
.hold{
  width: 50%;
  display: inline-block;
  vertical-align: middle;
}
img{
  vertical-align: middle;
}
.social{
  width: 100%;
  text-align: left;
  display: block;
  font-size: 56px;
}
.mail{
  width: 50%;
  text-align: left;
  display: block;
  font-size: 48px;
}
.link{
  color: #27292d;
}
.link:hover{
  color: #27292d;
}
.link:visited{
  color: rgba(40, 188, 225, 1);
}
