* {
  box-sizing: border-box;
  margin: 0px;
  font-family: "Source Sans Pro",sans-serif;
  /*font-family: 'Raleway', sans-serif;*/
    -webkit-appearance: none;
    -moz-appearance: none;
  }
  #header {

    top: 0px;
    display: block;
    width: 100%;
    padding: 20px;
    background-color:rgba(40, 188, 225, 1);
    text-align: right;

  }
  img{
    margin-right: 74%;
  }
  .top{
    color: white;
    font-size: 56px;
    padding-left: 5px;
    padding-bottom: 5px;
  }
  #spec{
    color: #27292d;
    font-weight:700;
  }
  .space{
    color: white;
    font-size: 32px;
  }
  .tab {
    color:white;
    padding: 5px;
    cursor: pointer;
    font-size: 24px;
    letter-spacing: 3px;
  }
  .tlink{
    font-style: normal;
    color: white;
    font-weight: 500;
    text-decoration: none;
    letter-spacing: 3px;
    }
    .this{
      font-style: normal;
      color: #27292d;
      font-weight: 700;
      text-decoration: none;
      letter-spacing: 3px;
      }
    .container{
        position: relative;
        height: 75%;
      }
    #label{
      display: block;
      width: 100%;
      text-align: center;
      /*background-image: url("back.JPG");*/
      background-image: url("header2.png");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center top;
      height: 550px;
    }
    .name{
      font-size: 126px;
      color: white;
      text-align: center;
      position: relative;
      letter-spacing: -1px;
      top: 50%;
      transform: translateY(-50%);
      font-weight: 900;
    }
    .second{
      padding: 15px;
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      font-size: 25px;
      font-weight: 300;
      letter-spacing: 0px;
    }
    .body{
      height: 100%;
      background-color: white;
      color:  #27292d;
      text-align: center;
      font-size: 42px;
      margin: 25px;
    }
    .spacer{
      height: 200px;
      width: 100%;
      background-color: white;
    }
    .item{
      margin: 0px auto;
      display: block;
      width: 75%;
      height: auto;
      border: 5px solid #27292d;
    }
    .iSub{
      font-size: 24px;
      font-weight: 100;
      text-align: center;
    }
    .drama{
      max-width: 100%;
      margin: 0px auto;
      padding: 5px;
    }
    .visit{
      color: #27292d;
    }
    .vist:hover{
      color: rgba(40, 188, 225, 1);
    }
    .visit:visited{
      color: rgba(40, 188, 225, 1);
    }
